@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
  font-family: "League Spartan", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 5em auto;
}
p {
  line-height: 1.5em;
}
.top {
  display: flex;
  width: 100%;
}
.bottom {
  display: flex;
}
.left {
  width: 50%;
}
.right {
  width: 50%; 
}
h1 {
  font-size: 3em;
  line-height: 1em;
  color: var(--Very-Dark-Magenta);
}
.left p {
  margin: 2em 0;
  color: hsl(303, 10%, 53%);
}
.ratings{
  background-color: var(--Light-Grayish-Magenta);
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  border-radius: 10px;
  width: 25rem;
  display: flex;
  margin-left: 1.5em;
  padding: 1em 2em;
  margin-bottom: 20px;
}
.ratings p{
  margin-left: 15px;
}
.ratings img {
   margin-left: 3px;
}
.bottom {
  gap: 1rem;
  
}
.comment {
  background-color: hsl(300, 43%, 22%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 2rem;
  width: 22rem;
  height: 16.5em;
}
.middle{
  margin: 0 20px;
  margin-top: 15px;
}
.end{
  margin-top: 33px;
}
span {
  color: var(--Soft-Pink);
}
.identity {
  display: flex;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}
.identity img {
  border-radius: 50%;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}
h4 {
  font-weight: bold;
  margin-bottom: 6px;
}
@media (max-width: 450px){
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.right{
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5px;
}
.comment{
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 15em;
  margin: auto;
}
.ratings{
  display: flex;
  flex-direction: column;
  width: 18em;
}
.ratings div img{
  margin-bottom: 5px;
}
.middle{
  margin: 3px 0;
}
}
